#kss-wrapper .kss-mod-example .colors div {
  color: #fff;
  padding: 20px;
  max-width: 320px;
  margin: 0 auto; }
  #kss-wrapper .kss-mod-example .colors div.midnight-blue {
    background-color: #0b162f; }
  #kss-wrapper .kss-mod-example .colors div.dark-blue {
    background-color: #2354ac; }
  #kss-wrapper .kss-mod-example .colors div.blue {
    background-color: #5b92f4; }
  #kss-wrapper .kss-mod-example .colors div.light-blue {
    background-color: #b1cdff; }
  #kss-wrapper .kss-mod-example .colors div.orange {
    background-color: #f7941d; }
  #kss-wrapper .kss-mod-example .colors div.light-orange {
    background-color: #ffc891; }
  #kss-wrapper .kss-mod-example .colors div.dark-gray {
    background-color: #8a8a8a; }
  #kss-wrapper .kss-mod-example .colors div.gray {
    background-color: #e1e1e1;
    color: #8a8a8a; }
  #kss-wrapper .kss-mod-example .colors div.light-gray {
    background-color: #f1f1f1;
    color: #8a8a8a; }

#kss-wrapper .kss-mod-example .colors div {
  color: #fff;
  padding: 20px;
  max-width: 320px;
  margin: 0 auto; }
  #kss-wrapper .kss-mod-example .colors div.midnight-blue {
    background-color: #0b162f; }
  #kss-wrapper .kss-mod-example .colors div.dark-blue {
    background-color: #2354ac; }
  #kss-wrapper .kss-mod-example .colors div.blue {
    background-color: #5b92f4; }
  #kss-wrapper .kss-mod-example .colors div.light-blue {
    background-color: #b1cdff; }
  #kss-wrapper .kss-mod-example .colors div.orange {
    background-color: #f7941d; }
  #kss-wrapper .kss-mod-example .colors div.light-orange {
    background-color: #ffc891; }
  #kss-wrapper .kss-mod-example .colors div.dark-gray {
    background-color: #8a8a8a; }
  #kss-wrapper .kss-mod-example .colors div.gray {
    background-color: #e1e1e1;
    color: #8a8a8a; }
  #kss-wrapper .kss-mod-example .colors div.light-gray {
    background-color: #f1f1f1;
    color: #8a8a8a; }

.vdp-text-seller-cao {
  display: block; }

.vdp-text-seller-cao .vdp-contact-text::after {
  content: "Text Seller"; }

@media (min-width: 321px) {
  .vdp-text-seller-cao .vdp-contact-text::after,
  .vdp-text-seller-desktop .vdp-contact-text::after {
    content: attr(data-text-seller); } }

.vdp-text-seller-desktop,
.vdp-phone-desktop {
  display: none; }

.vdp-text-seller-desktop .vdp-contact-text {
  color: #363636; }

.vdp-text-seller-desktop span {
  cursor: default; }

.vdp-phone-desktop span.icon--phone,
.desktop span.icon {
  cursor: default; }

/* Tel links. Do not use the .link class. Use the .tel class instead */
a.tel {
  color: #2354ac;
  text-decoration: none; }

a.tel:hover {
  color: #2354ac;
  text-decoration: underline;
  cursor: pointer; }

a.tel:active {
  color: #2354ac;
  text-decoration: underline; }

@media (min-width: 768px) {
  a.tel {
    color: #464646;
    text-decoration: none; }
  a.tel:hover {
    color: #464646;
    text-decoration: none;
    cursor: default; }
  a.tel:active {
    color: #2354ac;
    text-decoration: underline; }
  .vdp-text-seller-mobile,
  .vdp-phone-mobile {
    display: none; }
  .vdp-text-seller-desktop,
  .vdp-phone-desktop {
    display: block; }
  /* Special formatting for ios devices (specifically tablet) */
  .vdp-contact-info.vdp-phone-desktop .vdp-contact-text {
    pointer-events: none;
    color: #363636; }
  .stupid-ios {
    cursor: default; }
  a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important; }
  /* End ios styling */ }

/* end Tel links */
.page-wrap {
  overflow: visible !important; }

.auto-wrapper {
  display: block;
  width: 984px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: white; }
  .auto-wrapper::after {
    clear: both;
    content: "";
    display: table; }

.auto-main {
  width: 664px;
  float: left;
  position: relative; }

.auto-sidebar {
  width: 300px;
  float: right; }

p {
  margin-top: 0; }

#colMain .ddm-collapsible {
  margin-bottom: 2px; }

#colMain .ddm-collapsible__head {
  font-size: 18px;
  color: #fff;
  background: #5b92f4;
  padding: 10px; }

#colMain .ddm-collapsible__head h2 {
  font-size: 18px;
  margin: 0;
  font-weight: normal; }

#colMain .ddm-collapsible--open .ddm-collapsible__head,
#colMain .ddm-collapsible--opening .ddm-collapsible__head {
  background: #2354ac; }

#colMain .ddm-collapsible__arrow {
  top: 5px;
  right: 5px; }

.ddm-collapsible__body {
  max-height: none; }

#widgetBodyType .ddm-collapsible--open .ddm-collapsible__body,
#widgetBodyType .ddm-collapsible--opening .ddm-collapsible__body,
#widgetBodyType .ddm-collapsible--closing .ddm-collapsible__body {
  padding: 0px 20px 0px 5px; }

/* This is a hack for KSL Header to work with collapsibles v0.0.3 */
.ksl-header .ddm-collapsible__body {
  max-height: none; }

.dropdown-toggle {
  cursor: pointer; }

html, html *, html *:before, html *:after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: content-box; }

input[type="text"],
select {
  background-color: #ffffff;
  border: 1px solid #969696;
  color: #363636; }

input[type="text"]:disabled,
select[disabled],
select:disabled {
  color: #999999;
  border-color: #cecece; }

.priceReduced {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500; }

.top_leaderboard_container {
  padding: 20px 0 0 0;
  margin: 0; }

.leaderboard {
  border: medium none;
  width: 768px;
  position: relative;
  margin: 20px auto 30px auto; }

.ad_block iframe {
  display: block;
  margin: 0px auto; }

/**
 * Fraud warning footer. 
 * Styles borrowed from jobs. 
 */
.fraud-warning {
  font-size: 12px;
  margin: 20px 10px;
  padding-top: 20px;
  text-align: left; }

.fraud-warning h2 {
  color: #f7941d;
  font-family: 'raleway', sans-serif, Arial;
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 5px; }

html, html *, html *:before, html *:after {
  box-sizing: border-box; }

body {
  fill: #464646;
  /* for story #146747463 where icon needs to inherit the fill color */ }

.auto-wrapper {
  width: 100%;
  padding: 0; }

.page-wrap {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0; }

.auto-main {
  width: 100% !important;
  margin-bottom: 20px; }

.gridHead {
  float: left; }

.priceReduced {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500; }

.see-more-listings {
  text-align: center;
  padding: 0 20px 20px 20px; }

/*= Ad CSS Styles =*/
.leaderboard.top_ad_leaderboard {
  display: none;
  margin: 0 auto;
  padding: 20px 0 1px 0;
  position: relative;
  width: 728px;
  text-align: center; }

.leaderboard.top_ad_small_leaderboard {
  display: none;
  margin: 10px auto 15px auto;
  padding: 0;
  position: relative;
  width: 320px;
  text-align: center; }

.ad_block.inline_ad_leaderboard {
  display: none;
  position: relative;
  margin: 15px auto;
  width: 728px;
  height: 90px;
  text-align: center; }

.ad_block.inline_ad_block {
  display: none;
  position: relative;
  margin: 15px auto;
  width: 320px;
  height: 100px;
  text-align: center; }

.ad_block.bigBanner_ad_block {
  position: relative;
  display: none;
  margin: 20px auto;
  width: 970px;
  text-align: center; }

.threeBlocksSection {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around; }

.ad_block.block_ad_block {
  padding: 0;
  margin: 20px 0;
  width: 300px;
  display: none;
  height: 300px; }

.ad_block iframe {
  display: block;
  margin: 0 auto; }

.display-ad-link-container {
  padding: 0 0 0 0;
  margin: 0 0 15px 0;
  text-align: right;
  z-index: -1;
  font-size: 9px;
  overflow: auto; }

.display-ad-link-container a {
  font-size: 9px;
  color: #8f94a0 !important;
  text-decoration: underline !important; }

.display-ad-link-container a:first-of-type {
  float: left; }

.adl-report-ad-container {
  float: right; }

/* have to use !important to override 3rd party script setup */
.adl-report-ad-container button {
  font-size: 9px !important;
  padding: 0 !important;
  margin: 0 0 0 0 !important;
  color: #8f94a0 !important;
  font-family: 'raleway', sans-serif !important;
  text-decoration: underline !important; }

/*= END Ad CSS Styling =*/
.listing-header {
  padding: 10px 20px;
  background-color: #f1f1f1;
  font-size: 22px;
  color: #2354ac;
  font-weight: normal; }

.pagination {
  display: none; }

.ad-placeholder-300-250 {
  clear: both; }

.ad-placeholder-300-250 {
  clear: both; }

.clearboth {
  clear: both;
  height: 0; }

/*= RIGHT SIDEBAR =*/
.right-sidebar {
  display: none; }

#widgetDisclaimer {
  padding: 0;
  margin-top: 10px; }

@media (min-width: 768px) {
  .page-wrap {
    padding-left: 10px;
    padding-right: 10px; } }

@media (min-width: 1024px) {
  .page-wrap {
    overflow: auto;
    zoom: 1; }
  .main-column {
    /* adjust main column to make room for right sidebar */
    margin-right: 20px;
    float: left;
    /* total width minus right-sidebar and some space */
    width: -webkit-calc(100% - 320px);
    width: calc(100% - 320px); }
  /* clearfix main-column */
  .auto-main:after {
    content: "";
    display: table;
    clear: both; }
  /* bring in the ads! */
  .right-sidebar {
    display: block;
    float: right;
    width: 300px; }
  /* hiding right sidebar empty space on homepage */
  .auto-main.index .main-column {
    width: 100%;
    margin-right: 0; } }
