.page-wrap {
  padding-top: 10px;
}

.fixed_footer_ad_block {
  padding: 0;
  bottom: 0;
  display: none;
  text-align: center;
  position: fixed;
  height: 50px;
  width: 100%;
  border-top: 1px solid #ddd;
  -box-shadow: 0 -2px 5px rgb(204, 204, 204);
  background: none repeat scroll 0% 0% #000000;
  z-index: 50;
  background-color: rgba(255, 255, 255, .95);
  /* Menu shoving code */
  left: 0;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
  margin: 0 auto;
  z-index: 295;
}

.fixed_footer_ad_block .ad_block {
  display: block;
  margin: 0 auto;
}

.fixed_footer_ad_block .ad_div {
  padding: 0;
  margin: 0;
  z-index:-1;
}

.fixed_footer_ad_block .links_div {
  padding: 3px 0 0 0;
  margin: 0;
  -margin: 0 0 15px 0;
  text-align: right;
  font-size: 10px;
}

.fixed_footer_ad_block .links_div .link_advertise {
  -color: #8f94a0;
  color: #FFF;
  float: left;
}

.fixed_footer_ad_block .links_div .link_report {
  -color: #8f94a0;
  color: #FFF;
  float: right;
}

.fixed_footer_320_block {
  width: 320px;
}

.fixed_footer_768_block {
  width: 768px;
}

/* Menu Open Stuffage */
.ksl-header-menu-container--open-left .fixed_footer_ad_block {
  z-index: 250;
}

.ksl-header-menu-container--open-right .fixed_footer_ad_block {
  z-index: 250;
}

@media (min-width: 768px) {
  .fixed_footer_ad_block {
    height: 90px;
  }
}

@media (min-width: 1024px) {
  .page-wrap {
    padding-bottom: 0;
  }

  .fixed_footer_ad_block {
    display: none;
    padding-bottom: 0;
  }
}
