/*
 * KSL Cars jCarousel skin
 * This skin does not support vertical or rtl layout options.
 */

.jcarousel-skin-kslcars {
    margin:0;
    padding:0;
    height:190px;
    /*width:450px;*/
    background:#f1f1f1;
    font-family: Arial, Helvetica, Sans-Serif;
}

/* Add this class to .jcarousel-skin-kslcars in the markup, and remove it in setupCallback */
.jcarousel-skin-kslcars.jcarousel-loading {
    color:#777;
    background: #f1f1f1 url(../images/loading.gif) 50% 50% no-repeat;
    text-align:center;
}

.jcarousel-skin-kslcars .jcarousel-container {
    position:relative;
}

.jcarousel-skin-kslcars .jcarousel-container-horizontal {
    padding:10px 40px 8px 40px;
    height:170px;
}

.jcarousel-skin-kslcars .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-kslcars .jcarousel-clip-horizontal {
    height: 170px;
}

.jcarousel-skin-kslcars .jcarousel-item {
    width: 112px;
    height: 170px;
    overflow:hidden;
    text-align:left;
    font-size: 12px;
    color: #2354ac;
    line-height:1.25;
}

.jcarousel-skin-kslcars .jcarousel-item a:link,
.jcarousel-skin-kslcars .jcarousel-item a:visited,
.jcarousel-skin-kslcars .jcarousel-item a:hover {
    color: #2354ac;
    text-decoration: none;
}

.jcarousel-skin-kslcars .jcarousel-item .jcarousel-item-image {
    background-image: url();
    text-align: center;
}
.jcarousel-skin-kslcars .jcarousel-item .jcarousel-item-image img {
    border:none;
    height:83px;
}

.jcarousel-skin-kslcars .jcarousel-item-current .jcarousel-item-image {
    border:4px solid #F7941D;
}

.jcarousel-skin-kslcars .jcarousel-item .jcarousel-item-caption {
    margin-top: 7px;
    font-family: 'raleway', 'Helvetica Neue', Helvetica, sans-serif,  Arial;
    font-size: 14px;
}

.jcarousel-skin-kslcars .jcarousel-item .jcarousel-item-caption span {
    display:block;
}
.jcarousel-skin-kslcars .jcarousel-item .jcarousel-item-caption .price {
    color:#464646;
    font-size:16px;
    margin-top: 2px;
}
.jcarousel-skin-kslcars .jcarousel-item .jcarousel-item-caption .title {
    display:block;
    font-weight:bold;
    font-size:13px;
    margin:2px 0;
}
.jcarousel-skin-kslcars .jcarousel-item .jcarousel-item-caption .msrp {
    display:block;
    font-weight:normal;
    font-size:14px;
    margin:2px 0;
    color: grey;
}
.jcarousel-skin-kslcars .jcarousel-item .jcarousel-item-caption .photos {
    display:block;
    font-weight:normal;
    white-space: no-wrap;
}

.jcarousel-skin-kslcars .jcarousel-item-horizontal {
    margin: 0 18px 0 0;
}

.jcarousel-skin-kslcars .jcarousel-item-placeholder {
    background: url(../images/loading.gif) 50% 50% no-repeat;
}
.jcarousel-skin-kslcars .jcarousel-item-empty {
    background:none;
}

/**
 *  Horizontal Buttons
 */
 .jcarousel-skin-kslcars .jcarousel-next-horizontal,
.jcarousel-skin-kslcars .jcarousel-prev-horizontal {
    position: absolute;
    z-index:100;
    top: 10px;
    width: 35px;
    height: 165px;
    overflow:hidden;
    cursor: pointer;
 }

.jcarousel-skin-kslcars .jcarousel-next-horizontal {
    right:0;
    color: #464646;
}

.jcarousel-skin-kslcars .jcarousel-next-disabled-horizontal {
    cursor:default;
    color: #e1e1e1;
}

.jcarousel-skin-kslcars .jcarousel-prev-horizontal {
    left:0;
    color: #464646;
}

.jcarousel-skin-kslcars .jcarousel-prev-disabled-horizontal {
    cursor:default;
    color: #e1e1e1;
}

.jcarousel-skin-kslcars .icon.icon--zarrow-left,
.jcarousel-skin-kslcars .icon.icon--zarrow-right {
    margin-top:70px;
    padding: 5px;
    font-size: 30px;
}
.jcarousel-skin-kslcars .icon.icon--zarrow-right {
    margin-left: -5px;
}

.jcarousel-wrapper,
.jcarousel-skin-kslcars .jcarousel-container {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.jcarousel-skin-kslcars .jcarousel-item {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
}

/* Fix spacing in featured listing location only */
.featured-listing .jcarousel-skin-kslcars {
    margin: 0 -10px;
}
